.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.background {
    margin-left: 135px !important;
}

.link {
    margin-top: 30px;
    padding: 0;
}

h4 {
    text-align: center !important;
    color: white !important;
    padding-top: 25px;
}

.table {
    /*margin-left:20px;*/
    margin-top: 30px;
}

.top-50 {
    margin-top: 50px;
}

.top-10 {
    margin-top: 10px;
}


a {
    text-decoration: none;
}

.excel {
    color: #198754;
}

.excel:hover {
    color: white;
}

#excel_btn {
    width: 120px;
    margin-left: 45px;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 475px;
    background-color: #89caf5 !important;
}

#login_page {
    background-image: url(http://localhost:3000/Home_Page.jpg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.background_page {
    background-image: url(http://localhost:3000/Background.jpg) !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    position: absolute !important;
    max-width: 100%;
}


#logo {
    width: 250px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.flex {
    display: flex;
}

.form_label {
    margin-right: 15px;
    width: 80px;
}

.transparent_form {
    background-color: transparent !important;
    border: #3e87c7 2px solid !important;
    border-radius: 10px !important;
    margin-bottom: 25px;
}

.login-form {
    width: 250px !important;
    background-color: transparent !important;
    border: #3e87c7 2px solid !important;
    border-radius: 10px !important;
}

#login_button {
    margin-left: 175px;
    width: 100px;
}

#add_data {
    width: 450px;
    height: 85px;
    background-image: url("http://localhost:3000/Add_data.png");
    margin-bottom: 20px;
}

#contractors {
    width: 450px;
    height: 85px;
    background-image: url("http://localhost:3000/Contractors.png");
    margin-bottom: 20px;
}

#settings {
    width: 450px;
    height: 85px;
    background-image: url("http://localhost:3000/Settings.png");
    margin-bottom: 20px;
}

#search {
    width: 450px;
    height: 85px;
    background-image: url("http://localhost:3000/Search.png");
    margin-bottom: 20px;
}

#add_data_text {
    padding-top: 15px;
}

.order_page_logo {
    margin-top: 50px;
    margin-left: 50px;
}

.order_page_btn {
    margin-top: 50px !important;
    width: 300px !important;
}

.form-group {
    display: flex;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


.left-15 {
    margin-left: 15px;
}

.right-15 {
    margin-right: 15px;
}


#phone {
    width: 100px;
}

tr {
    width: 400px !important;
    max-width: 400px !important;
}

td, th {
    width: 10% !important;
    max-width: 100px !important;
}

.bottom-25 {
    margin-bottom: 25px;
}

.top-365 {
    margin-top: 365px !important;
}

#code {
    margin-right: 55px;
}

#description {
    margin-right: 10px;
}

.edit-btn {
    background-color: #309de9 !important;
}

label {
    white-space: nowrap;
}

#edit-btn {
    border: hidden;
    background-color: transparent;
}

.top-100 {
    margin-top: 100px !important;
}

.dashboard-input {
    width: 100px !important;
    background-color: transparent;
    border: hidden;
}